@import "var";
.header{
    background-color: $azul;
    h1{
        color: rgb(173, 113, 1);
        font-family:"Righteous", sans-serif;
    }
    .colorPropio{
        background: linear-gradient(rgb(00, 30, 49), rgb(33, 33, 133));
        
        .container-fluid{
                .logo{
                    transition:all 1s;
                    width: 120px;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .navbar-toggler-icon {
                    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(245, 245, 220)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
                }
            }
            ul{
                .nav-link{
                    color:beige;
                font-family: "Righteous", sans-serif;
                &:hover{
                    transition:all 0.75s;
                    transform: scale(1.2);
                    color: orange;
                }
            }
            .dropdown-menu{
                a{
                    color: rgb(00, 30, 49);
                    font-family:"Righteous", sans-serif;
                    &:hover{
                        color: orange
                    }
                }
            }
        }
    }
}