main{

    h2{
        font-family:"Righteous", sans-serif;
        text-align: center;
        color: orange;
        padding: 20px;
        font-weight: 1000;
        font-size: xxx-large;
        text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    }
}